---
import { getCollection, type CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import MainAlbum from "../layouts/MainAlbum.astro";
import Player from "../components/player/Player.svelte";

export const getStaticPaths = async () => {
    const albums = await getCollection("albums");
    return albums.map((album) => {
        return {
            params: { slug: album.id },
            props: { album: album },
        };
    });
};

type Props = {
    album: CollectionEntry<"albums">;
};

const { album } = Astro.props;
---

<Layout title={`Pilotopardo - ${album.data.name}`}>
    <MainAlbum>
        <h1 class="text-3xl mb-6 hidden md:block">{album.data.name}</h1>

        <section class="flex flex-col gap-x-6 md:flex-row-reverse">
            <div class="md:w-1/2">
                <Image src={album.data.cover} alt={album.id} class="w-full" />
            </div>
            <div class="md:w-1/2">
                <Player client:load tracklist={album.data.tracklist} albumName={album.data.name}
                />
            </div>
        </section>
    </MainAlbum>
</Layout>
